<section class="cart">
    
    <main>
        <div class="cart-container">
            {{#if products.length}}
            <ul class="product-list">
                {{#each products}}
                <li class="product-item" id="{{this.product_id._id}}">
                    <img src="{{this.product_id.image}}" alt="{{this.product_id.title}}" class="product-image">
                    <div class="product-details">
                        <h2>{{this.product_id.title}}</h2>
                        <p>{{this.product_id.description}}</p>
                        <div style="display: flex; flex-flow:row, column-gap: 2vw">
                            <p>Precio: $</p>
                            <p class="priceProduct">{{this.product_id.price}}</p>
                        </div>
                        <div class="cartQuantity">
                            <button class="modifyQuantity" id="decrease" data-id="{{this.product_id._id}}">-</button>
                            <p data-id="{{this.product_id._id}}" class="quantity">Cantidad: {{this.quantity}}</p>
                            <button class="modifyQuantity" id="increase" data-id="{{this.product_id._id}}">+</button>
                            <button class="delete-btn" data-id="{{this.product_id._id}}">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
            {{/if}}
            <p class="messageEmptyCart" style="display: none;">No hay productos en el carrito.</p>
        </div>
    </main>
    <footer>
        <button onclick="location.href=''">
            <i class="fa-solid fa-credit-card"></i> Proceder al Pago
        </button>
        <button onclick="location.href='/'">
            <i class="fa-solid fa-store"></i> Seguir Comprando
        </button>
    </footer>
</section>

<script type="module">
    import { handlerProductInCart } from "/js/handlerProductInCart.js";
    import { handlerQuantity } from '/js/handlerQuantity.js';
    import { deleteProducInCart } from '/js/deleteProductInCart.js';

    const buttonModifyContent = document.querySelectorAll(".modifyQuantity")

    const buttonDeleteProduct = document.querySelectorAll(".delete-btn")


    buttonModifyContent.forEach(button => {

        button.onclick = handlerQuantity;

    })

    buttonDeleteProduct.forEach(button => {

        button.onclick = deleteProducInCart;

    })
</script>