
<div class="cart">
    <header><h1>{{title}}</h1><a class="cartShopp" href="/views/carts"><i class="fa-solid fa-cart-shopping"></i><p class="quantityProductInCart"></p></a></header>
    <main>
        <div class="cart-container">
            {{#if products.length}}
                <ul class="product-list">
                    {{#each products}}
                        <li class="product-item" id="{{this.idProduct.pid}}">
                            <img src="{{this.idProduct.image}}" alt="{{this.idProduct.title}}" class="product-image">
                            <div class="product-details">
                                <h2>{{this.idProduct.title}}</h2>
                                <p>{{this.idProduct.description}}</p>
                                <div style="display: flex; flex-flow:row, column-gap: 2vw"><p>Precio: $</p><p class="priceProduct">{{this.idProduct.price}}</p></div>
                                <div class="cartQuantity">
                                        <button class="modifyQuantity" id="decrease" onclick="handlerQuantity(event)" data-id="{{this.idProduct.pid}}">-</button>
                                        <p data-id="{{this.idProduct.pid}}" class="quantity">Cantidad: {{this.quantity}}</p>
                                        <button class="modifyQuantity" id="increase" onclick="handlerQuantity(event)" data-id="{{this.idProduct.pid}}" >+</button> 
                                        <button  class="delete-btn" data-id= "{{this.idProduct.pid}}" onclick="deleteProducInCart(event)"><i class="fa-solid fa-trash"></i></button>
                                </div> 
                            </div>
                        </li>
                    {{/each}}
                </ul>
        
            {{else}}
                <p>No hay productos en el carrito.</p>
            {{/if}}
        </div>
    </main>

   <footer>
    <button onclick="location.href=''">
        <i class="fa-solid fa-credit-card"></i> Proceder al Pago
    </button>
    <button onclick="location.href='/views'">
        <i class="fa-solid fa-store"></i> Seguir Comprando
    </button>
</footer>
<div>
