
<div class="realtTimeProduct">
  <h1>{{title}}</h1>
  <ul id="product-list">
    {{#each products}}
      <li class="product-item">
       <p>Title: {{product.title}}- Code: {{product.code}} - Price: {{product.price}} - Stock: {{product.stock}}</p><button data-id="${product.id}" class="delete-btn"><i class="fa-solid fa-trash"></i></button>
      </li>
    {{/each}}
  </ul>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
</div>

